{% extends 'base/base.html' %}
{% load static %}
{% block title %}パスワード再設定{% endblock %}


{% block content %}
<!-- メインコンテンツ -->
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-sm" style="max-width: 400px; width: 100%;">
        <div class="card-body p-4">
            <h4 class="card-title text-center mb-4">パスワード再設定</h4>
            <p class="text-center">パスワード再設定を完了しました。</p>
            <div class="text-center">
                <a class="btn btn-primary my-2" href="{% url 'accounts:login' %}">ログイン</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}