{% extends "base/base.html" %}
{% load static %}

{% block title %}CSRF エラー{% endblock %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
        <div class="col-md-6 text-center p-4">
            <i class="bi bi-shield-exclamation display-1 text-warning"></i>
            <h1 class="display-1 fw-bold">403</h1>
            <h1 class="mb-4">CSRF Verification Failed</h1>
            <p class="mb-4">リクエストの検証に失敗しました。セキュリティ上の理由により、このリクエストは拒否されました。ページを再読み込みしてからもう一度お試しください。</p>
            <a class="btn btn-primary rounded-pill py-3 px-5" href="{% url 'dashboard' %}">Go Back To Home</a>
        </div>
    </div>
</div>
{% endblock %}