{% extends "base/base.html" %}
{% load static %}

{% block title %}メソッドエラー{% endblock %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
        <div class="col-md-6 text-center p-4">
            <i class="bi bi-x-circle display-1 text-danger"></i>
            <h1 class="display-1 fw-bold">405</h1>
            <h1 class="mb-4">Method Not Allowed</h1>
            <p class="mb-4">許可されていないメソッドです。アクセス方法をご確認ください。</p>
            <a class="btn btn-primary rounded-pill py-3 px-5" href="{% url 'dashboard' %}">Go Back To Home</a>
        </div>
    </div>
</div>
{% endblock %}